{% extends '_base.html' %}

{% load static %}
{% load l10n %}
{% load i18n %}

{% block title %} Merchandise - {% endblock %}

{% block head %}
<link href="{% static 'user/landing/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="background-container">
    <img src="{% static 'user/landing/images/MERCHENDISE/heromerchpng.png' %}" class="img-fluid w-100" alt="Hero Image">
</div>

<!-- End Hero Section -->


<div class="untree_co-section product-section before-footer-section"
     style="background-image: url({% static 'user/landing/images/web.png' %});">
    <div class="container">
        <div class="row">

            <!-- Start Column 1 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item " href="http://bit.ly/MERCHKARISMA ">
                    <img src="{% static 'user/landing/images/MERCHENDISE/varsity-removebg-preview.png' %}"
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">VARSITY</h3>
                    <strong class="product-price">IDR 250.000</strong>

                    <span class="icon-cross">
								<img src="{% static 'user/landing/images/cross.svg' %}" class="img-fluid">
							</span>
                </a>
            </div>
            <!-- End Column 1 -->

            <!-- Start Column 2 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item" href="http://bit.ly/MERCHKARISMA">
                    <img src="{% static 'user/landing/images/MERCHENDISE/hoodie_putih-removebg-preview.png' %}"
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">HOODIE CREAM</h3>
                    <strong class="product-price">IDR 185.000</strong>

                    <span class="icon-cross">
								<img src="{% static 'user/landing/images/cross.svg' %}" class="img-fluid">
							</span>
                </a>
            </div>
            <!-- End Column 2 -->

            <!-- Start Column 3 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item" href="http://bit.ly/MERCHKARISMA">
                    <img src="{% static 'user/landing/images/MERCHENDISE/hoodie_hitam.png' %} "
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">HOODIE BLACK</h3>
                    <strong class="product-price">IDR 185.000</strong>

                    <span class="icon-cross">
								<img src="{% static 'user/landing/images/cross.svg' %}" class="img-fluid">
							</span>
                </a>
            </div>
            <!-- End Column 3 -->

            <!-- Start Column 4 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item" href="http://bit.ly/MERCHKARISMA">
                    <img src="{% static 'user/landing/images/MERCHENDISE/kaos_putih-removebg-preview.png' %}"
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">T-SHIRT</h3>
                    <strong class="product-price">IDR 100.000</strong>

                    <span class="icon-cross">
								<img src="{% static 'user/landing/images/cross.svg' %}" class="img-fluid">
							</span>
                </a>
            </div>
            <!-- End Column 4 -->


            <!-- Start Column 1 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item" href="http://bit.ly/MERCHKARISMA">
                    <img src="{% static 'user/landing/images/MERCHENDISE/kesa-removebg-preview (1).png' %}"
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">KEY CHAIN</h3>
                    <strong class="product-price">IDR 10.000</strong>

                    <span class="icon-cross">
								<img src="{% static 'user/landing/images/cross.svg' %}" class="img-fluid">
							</span>
                </a>
            </div>
            <!-- End Column 1 -->

            <!-- Start Column 2 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item" href="http://bit.ly/MERCHKARISMA">
                    <img src="{% static 'user/landing/images/MERCHENDISE/tira.png' %}"
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">KEY CHAIN</h3>
                    <strong class="product-price">IDR 10.000</strong>

                    <span class="icon-cross">
								<img src="{% static 'user/landing/images/cross.svg' %}" class="img-fluid">
							</span>
                </a>
            </div>
            <!-- End Column 2 -->

            <!-- Start Column 3 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item" href="http://bit.ly/MERCHKARISMA">
                    <img src="{% static 'user/landing/images/MERCHENDISE/pln-removebg-preview.png' %}"
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">KEY CHAIN</h3>
                    <strong class="product-price">IDR 10.000</strong>

                    <span class="icon-cross">
								<img src="{% static 'user/landing/images/cross.svg' %}" class="img-fluid">
							</span>
                </a>
            </div>
            <!-- End Column 3 -->

            <!-- Start Column 4 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item" href="http://bit.ly/MERCHKARISMA">
                    <img src="{% static 'user/landing/images/MERCHENDISE/ranaisansss-removebg-preview.png' %}"
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">KEY CHAIN</h3>
                    <strong class="product-price">IDR 10.000</strong>

                    <span class="icon-cross">
								<img src="{% static 'user/landing/images/cross.svg' %}" class="img-fluid">
							</span>
                </a>
            </div>
            <!-- End Column 4 -->


            <!-- Start Column 1 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item" href="http://bit.ly/MERCHKARISMA">
                    <img src="{% static 'user/landing/images/MERCHENDISE/totebag-removebg-preview.png' %}"
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">TOTEBAG</h3>
                    <strong class="product-price">IDR 35.000</strong>

                    <span class="icon-cross">
								<img src="{% static 'user/landing/images/cross.svg' %}" class="img-fluid">
							</span>
                </a>
            </div>
            <!-- End Column 1 -->

            <!-- Start Column 2 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item" href="http://bit.ly/MERCHKARISMA">
                    <img src="{% static 'user/landing/images/MERCHENDISE/mockup_lanyard_baru-removebg-preview.png' %}"
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">LANYARD</h3>
                    <strong class="product-price">IDR 20.000</strong>

                    <span class="icon-cross">
								<img src="{% static 'user/landing/images/cross.svg' %}" class="img-fluid">
							</span>
                </a>
            </div>
            <!-- End Column 2 -->

            <!-- Start Column 3 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item" href="http://bit.ly/MERCHKARISMA">
                    <img src="{% static 'user/landing/images/MERCHENDISE/sticker-removebg-preview.png' %}"
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">STICKER</h3>
                    <strong class="product-price">IDR 5.000</strong>

                    <span class="icon-cross">
								<img src="{% static 'user/landing/images/cross.svg' %}" class="img-fluid">
							</span>
                </a>
            </div>
            <!-- End Column 3 -->

            <!-- Start Column 4 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item" href="http://bit.ly/MERCHKARISMA">
                    <img src="{% static 'user/landing/images/MERCHENDISE/sticker2-removebg-preview.png' %}"
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">STICKER</h3>
                    <strong class="product-price">IDR 5.000</strong>

                    <span class="icon-cross">
								<img src="{% static 'user/landing/images/cross.svg' %}" class="img-fluid">
							</span>
                </a>
            </div>
            <!-- End Column 4 -->

            <!-- Start Column 1 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item" href="http://bit.ly/MERCHKARISMA">
                    <img src="{% static 'user/landing/images/MERCHENDISE/kipas.png' %}"
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">HAN HELD FAN</h3>
                    <strong class="product-price">IDR 35.000</strong>

                    <span class="icon-cross">
													<img src="{% static 'user/landing/images/cross.svg' %}"
                                                         class="img-fluid">
												</span>
                </a>
            </div>
            <!-- End Column 1 -->

            <!-- Start Column 2 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item" href="http://bit.ly/MERCHKARISMA">
                    <img src="{% static 'user/landing/images/MERCHENDISE/gelang_item-removebg-preview.png' %}"
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">BRACELET</h3>
                    <strong class="product-price">IDR 15.000</strong>

                    <span class="icon-cross">
								<img src="{% static 'user/landing/images/cross.svg' %}" class="img-fluid">
							</span>
                </a>
            </div>
            <!-- End Column 2 -->

            <!-- Start Column 3 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item" href="http://bit.ly/MERCHKARISMA">
                    <img src="{% static 'user/landing/images/MERCHENDISE/tumbler_hitam-removebg-preview.png' %}"
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">TUMBLER BLACK</h3>
                    <strong class="product-price">IDR 75.000</strong>

                    <span class="icon-cross">
								<img src="{% static 'user/landing/images/cross.svg' %}" class="img-fluid">
							</span>
                </a>
            </div>
            <!-- End Column 3 -->

            <!-- Start Column 4 -->
            <div class="col-12 col-md-4 col-lg-3 col-sm-6 mb-5">
                <a class="product-item" href="http://bit.ly/MERCHKARISMA">
                    <img src="{% static 'user/landing/images/MERCHENDISE/tumbler_putih-removebg-preview.png' %}"
                         class="img-fluid product-thumbnail">
                    <h3 class="product-title">TUMBLER TRANSPARANT & STICKER</h3>
                    <strong class="product-price">IDR 35.000</strong>

                    <span class="icon-cross">
								<img src="{% static 'user/landing/images/cross.svg' %}" class="img-fluid">
							</span>
                </a>
            </div>
            <!-- End Column 4 -->
        </div>
    </div>
</div>
{% endblock %}
